
*{
    padding: 0px;
    margin: 0px;
}

html,body{
    height: 100%;
}

.header{
    height: 10vh;
    background: linear-gradient(to right,
            rgb(91, 183, 232) 50%,
            rgb(3, 97, 160));

}

.left-header{
    width: 50%;
    height: 80%;
    float: left;
    border: 1px solid gainsboro;
    margin-top: 5px;
    
}

.logo-panel{
    width: 180px;
    height: 80%;
    background-color: gainsboro;
    margin: 5px;
    font-size:x-large;
    color: black;
    text-align: center;
    text-shadow: 2px 2px rgb(129, 228, 245);

}

.right-header{
    width: 49%;
    margin-top: 5px;
    height: 80%;
    border: 1px solid gainsboro;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end ;
}

.social{
    width: 30px;
    height: 80%;
    margin: 5px;
    background-color: gainsboro;
    float: left;
    
}

.facebook{
    background-image: url(../images/kindpng_227301.png);
    background-size: cover;
    cursor: pointer;
}

.ig{
    background-image: url(../images/logo-instagram-png-13547.png);
    background-size:cover;
    cursor: pointer;

}

.tiktok{
    background-image: url(../images/kindpng_4364183.png);
    background-size: cover;
    cursor: pointer;
}

.twitter{
    background-image: url(../images/kindpng_745974.png);
    background-size: cover;
    cursor: pointer;
}

.content{
    width: 100%;
    min-height:200px;
    display: flex;
    flex-flow: row wrap;
    


}

.img1{
    width: 150px;
    float: left;
    margin: 5px;
}
.img2{
    width: 150px;
    margin: 5px;
    float: left;.
}
.img3{
    width: 150px;
    margin: 5px;
    float: left;.
}

.left-panel{
    width: 30%;
    min-height: 400px;
    

}
.panel-title{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.left-panel-content{
    min-height: 200px;
    overflow: auto;
    

}

.center-panel{
    width: 30%;
    min-height:200px;
    display: flex;
    flex-flow: column wrap;
    float: left;
}

.box{
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    float: left;
}

.box1 .center-panel-content{
    min-height: 150px;

    float: left;

    
}
.box2 .center-panel-content{
    min-height: 150px;
    float: right;
}

.box3 .center-panel-content{
    min-height: 150px;
    float: left;
}

.right-panel{
    width: 30%;
    min-height: 400px;
    display: flex;
    flex-flow: column wrap;
}

.right-panel-content{
    min-height: 200px;
    overflow: auto;
}
    













.footer{
    height: 15vh;
    background: linear-gradient(to right,
            rgb(91, 183, 232) 50%,
            rgb(3, 97, 160));
}